{% extends "layouts/layout.html" %}

{% block navbar %}
{% include 'layouts/navbar.html' %}
{% endblock %}

{% block sidebar %}
{% include 'layouts/sidebar.html' %}
{% endblock %} 

{% block content %}
    <div class="content-wrapper">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible" proxy="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <section class="content-header">
            <h1>
                <i class="fa fa-balance-scale"></i>
                Coupons
                <small>List of coupons</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url_for('home.dashboard') }}"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active">Coupons</li>
            </ol>
        </section>
        
        <section class="content row">
            <div class="col-xs-12" style="padding-bottom:10px;">
                <div class="row">
                    {% if current_user.is_admin %}
                    <form method="post">
                        <!-- <button type="submit" class="btn btn-sm btn-default pull-right">
                            <i class="fa fa-database"></i> 
                            Refresh Coupons
                        </button> -->
                    </form>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-12">
                <div class="">
                    {{ pagination.info }}
                </div>
                <table class="table table-bordered" id="coupons-table" style="width:100%;">
                    <col width="5%" />
                    <col width="5%" />
                    <col width="20%" />
                    <col width="20%" />
                    <col width="10%" />
                    <col width="20%" />
                    <col width="10%" />
                    <col width="10%" />
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Store</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Code</th>
                            <th>Price</th>
                            <th>URL</th>
                            <th>Expires At</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for coupon in coupons %}
                        <tr class="vertical-middle">
                            <td>{{ coupon.id }}</td>
                            <td class="capitalized">{{ coupon.store.name }}</td>
                            <td class="capitalized">
                                {% if coupon.title_changed %}
                                    <i class="fa fa-check"></i>
                                {% endif %}
                                {{ coupon.title }}
                            </td>
                            <td data-toggle="tooltip" data-placement="right" title="{{ coupon.description }}" style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;" class="capitalized">
                                {{ coupon.description }}
                            </td>
                            <td>
                                {% if coupon.code %}
                                {{ coupon.code }}
                                {% endif %}
                            </td>
                            <td>
                                {% if coupon.description_changed %}
                                    <i class="fa fa-check"></i>
                                {% endif %}
                                {{ coupon.price }}
                            </td>
                            <td data-toggle="tooltip" title="{{ coupon.url }}" style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;">{{ coupon.url }}</td>
                            <td>{{ coupon.expiry_date }}</td>
                            <td>
                                <a class="btn btn-sm btn-default" href="{{ url_for('coupons.show', id=coupon.id) }}" >
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a class="btn btn-sm btn-default" href="{{ coupon.url }}" target="_newTab">
                                    <i class="fa fa-folder-open"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pull-right">
                    {{ pagination.links }}
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block footer %}
{% include 'layouts/footer.html' %}
{% endblock %}

{% block aside %}
{% include 'layouts/aside.html' %}
{% endblock %}

{% block custom_js %}
</script>
{% endblock %}