{% for task in tasks %}
<tr class="vertical-middle">
    <td>{{ task.get('store').get('id') }}</td>
    <td class="capitalized">{{ task.get('store').get('name') }}</td>
    <td class="capitalized">{{ task.get('store').get('source') }}</td>
    <td>
        <div class="progress progress-xs">
            <div class="progress-bar progress-bar-success" style="width: {{ task.get('progress') }}%"></div>
        </div>
        <div>{{ task.get('msg') }}</div>
    </td>
    <td><span class="badge bg-green">{{ task.get('progress') }}%</span></td>
</tr>
{% endfor %}