{% block sidebar %} 
 <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{{ url_for('static', filename='img/user2-160x160.jpg') }}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          {% if current_user.firstname and current_user.last_name %}
          <p>{{ current_user.first_name + " " + current_user.last_name }}</p>
          {% else %}
          <p>{{ current_user.username }}</p>
          {% endif %}
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <!-- <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form> -->
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="{%- if request.path == '/dashboard' %} active {% endif %}">
          <a href="{{ url_for('home.dashboard') }}">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li class="treeview {%- if request.path.startswith('/stores/') or request.path.startswith('/coupons/') %} active {% endif %}">
          <a href="#">
            <i class="fa fa-sticky-note"></i> <span>Sticky</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li {%- if request.path.startswith('/stores') %} class="active" {% endif %}><a href="{{ url_for('stores.index') }}"><i class="fa fa-institution"></i> Stores</a></li>
            <li {%- if request.path.startswith('/coupons') %} class="active" {% endif %}><a href="{{ url_for('coupons.index') }}"><i class="fa fa-cart-plus"></i> Coupons</a></li>
          </ul>
        </li>
        {% if current_user.is_admin %}
        <li class="treeview {%- if request.path.startswith('/admin/') %} active {% endif %}">
          <a href="#">
            <i class="fa fa-lock"></i> <span>Administration</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li {%- if request.path.startswith('/admin/sources') %} class="active" {% endif %}><a href="{{ url_for('admin.sources.index') }}"><i class="fa fa-tasks"></i> Sources</a></li>
            <li {%- if request.path.startswith('/admin/roles') %} class="active" {% endif %}><a href="{{ url_for('admin.roles.index') }}"><i class="fa fa-wrench"></i> Roles</a></li>
            <li {%- if request.path.startswith('/admin/proxies') %} class="active" {% endif %}><a href="{{ url_for('admin.proxies.index') }}"><i class="fa fa-cog"></i> Proxies</a></li>
            <li {%- if request.path.startswith('/admin/issues') %} class="active" {% endif %}><a href="{{ url_for('admin.issues.index') }}"><i class="fa fa-cog"></i> Issues</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
      
    </section>
    <!-- /.sidebar -->
  </aside>
{% endblock %}
