{% extends "layouts/layout.html" %}

{% block navbar %}
{% include 'layouts/navbar.html' %}
{% endblock %}

{% block sidebar %}
{% include 'layouts/sidebar.html' %}
{% endblock %} 

{% block content %}
    <div class="content-wrapper">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <section class="content-header">
            <h1>
                <i class="fa fa-balance-scale"></i>
                Roles
                <small>List roles</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url_for('home.dashboard') }}"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active">Roles</li>
            </ol>
        </section>
        
        <section class="content row">
            <div class="col-xs-12" style="padding-bottom:10px;">
                <div class="row">
                    <!-- <a class="btn btn-sm btn-default pull-right" href="{{ url_for('admin.roles.index') }}">
                        <i class="fa fa-upload"></i> 
                        Upload CSV
                    </a> -->
                </div>
            </div>
            <div class="col-xs-12">
                <table class="table table-bordered" id="roles-table" style="width:100%;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Role Name</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for role in roles %}
                        <tr class="vertical-middle">
                            <td>{{ role.id }}</td>
                            <td class="capitalized">{{ role.name }}</td>
                            <td>{{ role.description }}</td>
                            <td>
                                <button class="btn btn-sm btn-default export-leads" data-role-id="{{ role.id }}" >
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="btn btn-sm btn-default export-leads" data-role-id="{{ role.id }}" >
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
{% endblock %}

{% block footer %}
{% include 'layouts/footer.html' %}
{% endblock %}

{% block aside %}
{% include 'layouts/aside.html' %}
{% endblock %}

{% block custom_js %}
</script>
{% endblock %}